/* Colors used
Background color (snow): #fffcfc
Text color (Black): #000
Button/Modal Border (Midnight Green): #074f57
Button/Modal Background (pale yellow): #f2e8b8
*/

/* ===Primary=== */

body {
  background-color: #fffcfc;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 1.6;
  color: #000;
}

/* --divs-- */

div {
  padding: 10px;
  margin: 10px;
}

/* ==Header== */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

/* --button-- */

.list-item__button {
  border: 1px solid #074f57;
  display: inline-block;
  font-family: inherit;
  text-transform: capitalize;
  background-color: #f2e8b8;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.list-item__buttonClicked {
  border: 1px solid black;
  background-color: blue;
  color: white;
}

ul {
  list-style-type: none;
}

/* -- Modal Styling -- */

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough */
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #074f57;
  background: #f2e8b8;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #FF0000;
  text-decoration: underline;
}

.modal h1 {
  text-align: center;
}

.modal p {
  margin-bottom: 0;
  text-align: center;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: auto;
}
